#portfolio.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#portfolio .title {
  color: var(--primary);
  font-size: 0.9rem;
  text-transform: uppercase;
}

#portfolio .sub__heading {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

#portfolio .portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

#portfolio .portfolio .image__container {
  width: 180px;
  height: 180px;
  border-radius: var(--radius-3);
  overflow: hidden;
  border: 2px solid white;
}

#portfolio .portfolio .details {
  flex: 1;
  padding: 10px;
}

#portfolio .portfolio .title {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: var(--primary);
}

#portfolio .portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
